* {
    margin-left: 0px;
    margin-right: 0px;
}

.container {
    text-align: center;
    letter-spacing: 0.2em;
    margin-top: 120px;
    text-shadow: 125px 25px red;
}


.container_two {
    text-align: center;
    letter-spacing: 0.2em;
    margin-top: 0px;
    text-shadow: -185px 19px red;
}



.wrapper {
    text-align: center;
    font-weight: bold;
}

.sign {
    text-align: center;
    font-weight: bold;
}

.sign:hover {
    text-decoration: wavy underline;
}

.img {
    box-sizing: border-box;
    display: flex;
    float: left;
    padding: 0px;
    margin: 0px;
    margin-top: -120px;
    height: 100vh;
    widt: 396px;
    background-size: 100%;
    background-size: cover !important;
    background-position: 50% 50%;
    image-rendering:crisp-edges !important;
    image-rendering:optimizeQuality; 
    background: transparent;
}

body {
background-color: black;
color: aqua;
margin-bottom: 0px;
margin-left: 0px;
}

.form {
    margin-left: 200px;
    display: block;
}


.form_two {
    margin-left: 200px;
    margin-top: 0px;
    display: block;
}

.inline {
    display: inline-flex;
}

.Email {
    margin-left: 200px;
    display: block;
}

.number {
    margin-left: 200px;
    display: block;
}

.outline {
    display: inline-flex;
    margin-top: 10px;
}

input {
    margin-left: 200px;
}

.password {
    margin-left: 200px;
    margin-top: 0px;
    display: block;
}

.confirm_password {
    margin-left: 200px;
    margin-top: 0px;
    display: block;
}

.line {
    display: inline-flex;
    margin-top: 10px;
    margin-bottom: 30px;
}

.space {
    text-align: center;
    margin-top: 20px;
    text-decoration: wavy underline;
    font-style: italic;
}

.whole {
  background-color: #12181b;  
  font-weight: bold;
  margin-right: 0px;
}

.button {
    text-align: left;
    margin-top: 10px;
}

.button_one {
    background-color: aqua;
}

.button_one:hover {
    background-color: red;
    box-shadow: 10px 5px aqua;
    width: 120px;
}

.submit_btn {
    background-color: aqua;
    font-weight: bold;
    margin-top: 10px ;
    border-radius: 50px 50px 50px 50px;
}

.submit_btn:hover {
    background-color: red;
    box-shadow: 10px 5px aqua;
}

.first_name {
    border-radius: 50px 50px 50px 50px;
}

.first_name:invalid {
    border-color: red;
}

.first_name:valid {
    border-color: lightgreen;
}

.last_name:invalid {
    border-color: red;
}

.last_name:valid {
    border-color: lightgreen;
}

.last_name {
    border-radius: 50px 50px 50px 50px;
}

.Email_one {
    border-radius: 50px 50px 50px 50px;
}

.Email_one:invalid {
    border-color: red; 
}

.Email_one:valid {
    border-color: lightgreen; 
}

.phone {
    border-radius: 50px 50px 50px 50px;
}

.pass_two, .pass_three {
    border-radius: 50px 50px 50px 50px;
}

.pass_two:valid, .pass_three:valid {
    border-color: black; 
}

.pass_two:invalid, .pass_three:invalid {
    border-color: black; 
}

.buttons {
    margin-top: 50px;
    margin-left: -525px;
    margin-bottom: 0px;
}









